<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" >SocialApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="discover">Keşfet</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="login">Giriş Yap</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="register">Kaydol</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hesabım
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink = "profile">Profil</a></li>
              <li><a class="dropdown-item" routerLink = "profile/notificationSettings">Bildirim Ayarları</a></li>
              <li><a class="dropdown-item" routerLink = "profile/preferSettings">Tercih Ayarları</a></li>
              <li><a class="dropdown-item" (click)="logout()" routerLink= "discover">Logout</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-primary position-relative mx-5">
           Bildirimler 
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{notificationCount.notificationCount}} bildirim
              <span class="visually-hidden">Okunmamış bildirimler</span>
            </span>
          </button>
          <input type="text" class="form-control" [(ngModel)]="filterText" (input)="updateFilter()" id="filterText" name="filterText" placeholder="Arama ifadesi giriniz">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    
  </nav>
