<div class="py-4 px-4">
    <!-- userphotos -->
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h5 class="mb-0">Fotoğraflar</h5><a href="#" class="btn btn-link text-muted">Show all</a>
    </div>
    <div class="row">
        <app-user-photo class="col-lg-6 mb-2 pr-lg-1" [photoUrl]="profile.profilePhotoUrl" ></app-user-photo>
        <app-user-photo class="col-lg-6 mb-2 pr-lg-1" [photoUrl]="profile.profilePhotoUrl" ></app-user-photo>
        <app-user-photo class="col-lg-6 mb-2 pr-lg-1" [photoUrl]="profile.profilePhotoUrl" ></app-user-photo>
        <app-user-photo class="col-lg-6 mb-2 pr-lg-1" [photoUrl]="profile.profilePhotoUrl" ></app-user-photo>
       
    </div>
    <!-- user posts -->
  <app-user-post></app-user-post>
</div>