<div class="bg-light p-4 d-flex justify-content-end text-center">
    <ul class="list-inline mb-0">
        <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{userStatistic.countOfPhotos}}</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Fotoğraflar</small>
        </li>
        <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{userStatistic.countOfFriends}}</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Arkadaşlar</small>
        </li>
        <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{userStatistic.countOfPosts}}</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Postlar</small>
        </li>
        <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{userStatistic.countOfConv}}</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Konuşmalar</small>
        </li>
    </ul>
</div>