
<ng-container *ngIf="profile; then profileTemp; else loading"></ng-container>
<ng-template #profileTemp>
    <div class="row py-5 px-4">
        <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
    
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-4 pb-4 bg-dark">
                    <div class=" media align-items-end profile-header">
                        <div class="profile mr-3"><img [src]="profile.profilePhotoUrl" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a routerLink="edit/" class="btn btn-dark btn-sm btn-block">Profili Düzenle</a></div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0">{{profile.name + " " + profile.surname}}</h4>
                            <p class="small ">mail => {{profile.mail}}</p>
                            <p class="small ">Telefon Numarası => {{profile.telNo}}</p>
                            <p class="small ">Kilo => {{profile.weight}}</p>
                            <p class="small "> boy => {{profile.height}}</p>
                            <p class="small ">Doğum-Günü => {{profile.birthdate | date}}</p>
                            <p class="small ">İlişki-Durumu => {{getRelationStatus()}}</p>
                            <p class="small ">Cinsiyet => {{profile.gender}}</p>
                        </div>
                    </div>
                </div>
    
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Friends</small>
                        </li>
                    </ul>
                </div>
    
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Fotoğraflar</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-2 pr-lg-1"><img src="{{profile.profilePhotoUrl}}" alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 mb-2 pl-lg-1"><img src="{{profile.profilePhotoUrl}}" alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 pr-lg-1 mb-2"><img src="{{profile.profilePhotoUrl}}" alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 pl-lg-1"><img src="{{profile.profilePhotoUrl}}" alt="" class="img-fluid rounded shadow-sm"></div>
                    </div>
                    <div class="py-4">
                        <h5 class="mb-3">Postlar</h5>
                        <div class="p-4 bg-light rounded shadow-sm">
                            <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <ul class="list-inline small text-muted mt-3 mb-0">
                                <li class="list-inline-item"><i class="fa fa-comment-o mr-2"></i>12 Comments</li>
                                <li class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>200 Likes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End profile widget -->
    
        </div>
    </div>
    
</ng-template>
<ng-template #loading>
    
</ng-template>


