
<ng-container *ngIf="profile; then profileTemp; else loading">

</ng-container>

<ng-template #profileTemp>
    <div class="row py-5 px-4">
        <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
    
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
               <app-profile-info [profile]="profile" ></app-profile-info>
                <!-- userstatistic -->
                <app-user-statistic [userStatistic]="dumyUserStatistic" ></app-user-statistic>
    
                <app-profile-content [profile]="profile" ></app-profile-content>
            </div><!-- End profile widget -->
    
        </div>
    </div>
    
</ng-template>
<ng-template #loading>
   <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="spinner-grow text-primary" role="status">
    </div>
    <div class="spinner-grow text-secondary" role="status">
    </div>
    <div class="spinner-grow text-success" role="status">
    </div>
    <div class="spinner-grow text-danger" role="status">
    </div>
    <div class="spinner-grow text-warning" role="status">
    </div>
    <div class="spinner-grow text-info" role="status">
    </div>
    <div class="spinner-grow text-light" role="status">
    </div>
    <div class="spinner-grow text-dark" role="status">
    </div>
   </div>
</ng-template>


