<body class="text-center container mt-5">
    
    <main class="form-signin">
      <form [formGroup]="registerForm" >
        <img class="mb-4" src="https://www.pngfind.com/pngs/m/332-3325748_wolf-1-wing-logo-png-transparent-logo-transparan.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating mt-3">
            <input formControlName="username" type="text" class="form-control" id="username" placeholder="name@example.com">
            <label class="op-5 upperCase" for="floatingInput">username</label>
          </div>
          
        <div class="form-floating mt-3">
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
          <label class="op-5 upperCase" for="floatingInput">email</label>
        </div>
          <div class="form-floating mt-3">
            <input formControlName="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="name@example.com">
            <label class="op-5 upperCase" for="floatingInput">telno</label>
          </div>
        <div class="form-floating mt-3">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label class="op-5 upperCase" for="floatingPassword">Şifre</label>
        </div>
    
        <button (click)="register()" class="mt-4 w-100 btn btn-lg btn-primary" type="submit">Kayıt ol</button>
        <p class="mt-5 mb-3 text-muted">&copy; ourcelik</p>
      </form>
    </main>
    
    
        
      </body>